header.header

    .header__top 
        .container 
            .contacts 
                a.contact(href="tel:+380639999999")
                    i.fa-solid.fa-mobile-screen
                    span.contact__text 6337 3128

    .header__bottom 